:root {
    --gradient-primary: linear-gradient(270deg, #DF8908 50.41%, #B415FF 90.25%);
    --font-weight-medium: 500;
    --font-weight-bold: 700;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3.75rem;
    margin: 4.375rem 10%;
}
.profile-img {
    width: 240px; 
    height: auto;
    border-radius: 50%; 
    object-fit: cover;
  }
.about-sections {
    display: flex;
    gap: 3.75rem;
}

.about-left img {
    width: 18.75rem;
    border-radius: 0.625rem;
}

.about-right {
    display: flex;
    flex-direction: column;
    gap: 3.125rem;
}

.about-para {
    display: flex;
    flex-direction: column;
    gap: 0.9375rem;
    font-size: 1.125rem;
    font-weight: var(--font-weight-medium);
}

.about-skills {
    display: flex;
    flex-direction: column;
    gap: 0.9375rem;
}

.about-skill {
    display: flex;
    gap: 1.25rem;
    align-items: center;
    transition: 0.3s;
    will-change: transform;
}

.about-skill p {
    min-width: 8.125rem;
    font-size: 1.25rem;
    font-weight: var(--font-weight-medium);
}

.about-skill hr {
    border: none;
    width: 50%;
    height: 0.5rem;
    border-radius: 3.125rem;
    background: var(--gradient-primary);
}

.about-achievements {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 3.125rem;
}

.about-achievement {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    transition: 0.5s;
    will-change: transform;
}

.about-achievement h1 {
    font-size: 2.5rem;
    font-weight: var(--font-weight-bold);
    background: var(--gradient-primary);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about-achievement p {
    font-size: 1.125rem;
    font-weight: var(--font-weight-medium);
}

.about-skill:hover {
    transform: scale(1.05);
}

.about-achievement:hover {
    transform: scale(1.12);
}

@media (max-width: 768px) {
    .about {
        gap: 3.125rem;
        margin: 3.125rem 6%;
        align-items: start;
    }
   
    .about-sections {
        flex-direction: column;
    }

    .about-left {
        display: none;
    }

    .about-para {
        line-height: 1.5625rem;
    }
   
    .about-skill p {
        font-size: 1rem;
        min-width: 5.625rem;
    }

    .about-skill hr {
        height: 0.375rem;
    }

    .about-achievements {
        justify-content: space-between;
    }

    .about-achievement {
        gap: 0.625rem;
    }

    .about-achievement h1 {
        font-size: 1.75rem;
    }

    .about-achievement p {
        text-align: center;
        font-size: 0.75rem;
    }
}